/**
 * Fonts definitions.
 */
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}

/**
 * Page layout.
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
  font-family: "OpenSansRegular", sans-serif;
}

.container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  width: 620px;
}

.brief {
  box-sizing: border-box;
  margin-top: 20px;
}
.brief h1 {
  font-family: "OpenSansExtraBold";
  font-size: 350%;
}
.brief footer {
  margin-top: 20px;
  font-size: 110%;
}
.brief footer .job-title {
  box-sizing: border-box;
  display: inline-block;
  font-family: 'OpenSansSemibold', sans-serif;
  text-align: left;
  width: 85px;
}
.brief .fa-heart {
  color: #e74c3c;
  font-size: 130%;
}
.brief .fa-code {
  color: #2c3e50;
  font-size: 150%;
}

.contact {
  box-sizing: border-box;
  font-size: 250%;
  margin-top: 20px;
}
.contact a {
  box-sizing: border-box;
  color: #2c3e50;
  display: inline-block;
  text-decoration: none;
}
.contact a:hover {
  color: #95a5a6;
}
.contact .l1 {
  text-align: left;
  width: 60px;
}
.contact .l2 {
  text-align: center;
  width: 56px;
}
.contact .l3 {
  text-align: right;
  width: 54px;
}

.motto {
  box-sizing: border-box;
  margin-top: 150px;
}
.motto blockquote {
  text-align: justify;
  font-size: 120%;
}
.motto blockquote footer {
  margin-top: 1em;
  text-align: right;
}

/**
 * Extra
 */
.imp {
  color: #3498db;
}
